main{
    background-image: url("public/bg1.jpeg");
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-attachment: fixed;
    background-position: center; */
    height: 100vh;
    width: 100vw;
    margin-top: -8px;
    margin-left: -8px;
}

header{
    background-color: rgba(253, 245, 245, 0.4);
    height: 100px;
    display: flex;
    align-items: center;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-category{
    display: flex;
    gap: 30px;
}

.user-details{
    display: flex;
    gap:30px
}

.bi-person-fill{
    margin-top: -4px;
    font-size: 25px;
}

.heading-title{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    margin-top: 80px;
}

.heading-title h1{
    font-size: 53px;
}

.heading-title div button{
    width: 130px;
    padding: 14px;
    border: 1px solid black;
    border-radius: 10px;

}

#find-more-btn{
    margin-left: 40px;
    background-color: rgba(238, 146, 8, 0);
}

#find-more-btn:hover{
    background-color: white;
    color: black;
}

#shop-now-btn{
    background-color: white;
    width: 130px;
    padding: 14px;
    border: 1px solid black;
    border-radius: 10px;
}

#shop-now-btn:hover{
    background-color: black;
    color: white;
}

#ecom-trainer{
    height: 100vh;
    width: 100vw;

}

#marquee{
    margin-top: 100px;
    margin: 50px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.trainer-card-container{
    height: 70%;
    width: 100%;
    display: flex;
    gap: 20px;

}

.trainer-card:nth-child(1){
    background-image: url("https://i.pinimg.com/originals/ae/ae/b7/aeaeb7d3475265491a126355ac1a3172.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trainer-card:nth-child(2){
    background-image: url("public/template-card-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trainer-card:nth-child(3){
    background-image: url("https://i.pinimg.com/originals/ae/ae/b7/aeaeb7d3475265491a126355ac1a3172.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.trainer-card{
    margin: 20px;
    width: 28%;
    height: 100%;
    border: 1px solid black;
    color: rgb(0 255 210);
    
    display: flex;
    flex-direction: column;
    justify-content: end;
   
}

.trainer-card h2, p, button{
    margin-left: 30px;
}

.trainer-card h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -5px;
}

.trainer-card p{

}

.trainer-card button{
    margin-bottom: 20px;
}

.featured-products{
    height: auto;
    width: 100vw;
    font-family: arial;
    background-color: aliceblue;
}

.featured-products h1{
    text-align: center;
    font-size: 38px;
}

/* .products-card-container{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin: 10px;
}

.product-card{
    width: 230px;
    height: 400px;
    border: 1px solid black;
} */

.card{
    height: 300px;
    width: 230px;
    /* border: 1px solid black; */
    /* background-color: wheat; */
    overflow: hidden;
    text-overflow: ellipsis;    
    white-space: nowrap;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid gray;
}

.card_body{
    display: flex;
    flex-wrap: wrap;
    
    gap:10px;
    margin: 10px;
}

.card span{
    display: block;
    width: 30px;
    border-radius: 30px;
    background-color: wheat;
    position: absolute;
    left: 30px;
    top: 30px;
    
}

.card_img{
    height: 200px;
    width: 198px;
}
.bottom_block{
    background-image:url("public/Cute-Girl-Backgrounds-HD.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
}
.bottom_block h4,h1,h3{
    margin-left: 30px;
}
#shop_button{
    background-color: white;
    width: 130px;
    padding: 14px;
    border: 1px solid black;
    border-radius: 10px;
}
#shop_button:hover{
    background-color: black;
    color: white;
}